<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/front/styles/Usuario.css">
</head>
<body>
    <div class="card-container">
        <a href="homeCuentas.html" class="btnGuardar">Regresar</a>
        <div class="card3">
            <div class="rectangulo3">
                <div class="titulo5">Crear Usuario</div>
                <div class="card-content">
                    <div class="services">
                        <h4>Codigo Empleado</h4>
                        <h4></h4>
                        <h4>Codigo Cliente</h4>
                        <h4></h4>
                        <h4>Nombre</h4>
                        <h4></h4>
                        <h4>Nombre Usuario</h4>
                        <h4></h4>  
                        <h4>Contraseña</h4> 
                        <h4></h4>
                        <h4>Fecha creación</h4>
                        <h4></h4>
                        
                    </div>
                    <div class="buttons">
                        <input type="text" id="idEu" class="cMonto">
                        <h4></h4>
                        <input type="text" id="idCu" class="cMonto">
                        <h4></h4>
                        <input type="text" id="descripcionU"  class="cMonto">
                        <h4></h4>
                        <input type="text" id="nombreU"  class="cMonto">
                        <h4></h4>
                        <input type="password" id="passwordU" class="cMonto">
                        <h4></h4>
                        <input type="text" id="creacionU" class="cMonto">
                        <h4></h4>
                        
                        
                    </div>
                    <button type="button"  id="btnGuardarU" class="btnGuardar" >Crear</button>
                   
                </div>
            </div>
        </div>        
    </div>
</body>
<script src="crearusuarios.js"></script>
</html>
 