<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/front/styles/Empleado.css">
</head>
<body>
    <div class="card-container">
        <a href="homeCuentas.html" class="btnGuardar">Regresar</a>
        <div class="card3">
            <div class="rectangulo3">
                <div class="titulo5">Crear Empleado</div>
                <div class="card-content">
                    <div class="services">
                        <h4>Nombres</h4>
                        <h4></h4>   
                        <h4>Apellidos</h4>
                        <h4></h4>
                        <h4>Telefono</h4>
                        <h4></h4>
                        <h4>E-mail</h4>
                        <h4></h4>
                        <h4>fecha nacimiento</h4>
                        <h4></h4>
                        <h4>Rol</h4>
                    </div>
                    <div class="buttons">
                        <input type="text" id="nombreE"  class="cMonto">
                        <h4></h4>
                        <input type="text" id="apellidoE" class="cMonto">
                        <h4></h4>
                        <input type="text" id="telefonoE" class="cMonto">
                        <h4></h4>
                        <input type="text" id="correoE"  class="cMonto">
                        <h4></h4>
                        <input type="text" id="nacimientoE" class="cMonto">
                        <h4></h4>
                        <h4></h4>
                        <select class="SRol" id="rolE">
                            <option>Seleccione</option>
                            <option value="1">Administrador</option>
                            <option value="2">Empleado</option>
                        </select>
                    </div>
                    <button type="button"  id="btnGuardarE" class="btnGuardar" >Crear</button>
                   
                </div>
            </div>
        </div>        
    </div>
</body>
<script src="crearempleados.js"></script>
</html>
 