<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/front/styles/loginDesing.css">
    <script src="/scripts/Login.js"></script>
</head>
<body>
    <main class="contenedor-main">
        <div class="contenedor-principal">
            <div class="contenedor-login">
                <div class="contenedor-login-img">
                    <img class="imagenP" src="/front/imgs/imagen1.png">
                </div>
                <div class="contenedor-login-ingresar">
                    <div class="contenedor-logo">
                        <img class="logo" src="/front/imgs/logo.png">
                    </div>
                    <div class="contenedor-campo-usuario">
                        <div class="textoU">Usuario:</div>
                        <div class="usuario">
                            <input type="text" placeholder="ingrese usuario" id="ingresarUsuario">
                        </div>
                    </div>
                    <div class="contenedor-campo-contrasena">
                        <div class="textoC">Contraseña:</div>
                        <div class="contrasena">
                            <input type="password" placeholder="ingrese contraseña" id="ingresarContrasena">
                        </div>
                    </div>
                    <div class="contenedor-boton-ingresar">
                        <button class="boton-ingresar" type="button" id="btnIngresarLogin">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        document.getElementById('btnIngresarLogin').addEventListener('click', async function () {
            const nombre_usuario = document.getElementById('ingresarUsuario').value;
            const clave = document.getElementById('ingresarContrasena').value;

            try {
                const response = await fetch('/auth', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombre_usuario, clave })
                });

                const data = await response.json();

                if (response.ok) {
                   
                    window.location.href = data.redirectionPath;
                } else {
                    alert(data.message);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Error durante la autenticación');
            }
        });
    </script>
</body>
</html>
