<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Saldo</title>
    <link rel="stylesheet" href="/front/styles/PerfilAddSaldoDesing.css">
</head>
<body>
    <div class="card-container">
        <a href="homeAddSaldo.html" class="btnGuardar">Regresar</a>

        <div class="card3">
            <div class="rectangulo3">
                <div class="titulo5">Información</div>
                <div class="card-content">
                    <div class="services">
                        <h4>No. Tarjeta</h4>
                        <h4></h4>
                        <h4>Titular</h4>
                        <h4></h4>
                        <h4>Saldo</h4>
                    </div>
                    <div class="buttons">
                        <input type="text" id="NoTarjeta" placeholder="Ingresa el número de tarjeta" class="cNoTarjeta">
                        <h4 id="Titular"></h4>
                        <h4></h4>
                        <h4></h4>
                        <h4></h4>
                        <h4></h4>
                        <input type="text" id="Saldo" placeholder="Ingresa el saldo a agregar" class="cSaldo">
                    </div>
                </div>
            </div>
        </div>
        <button id="btnGuardar" class="btnGuardar">Guardar</button>
    </div>
    
    <script src="AddSaldo.js"></script>
</body>
</html>
