<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/front/styles/Transferencias.css">
</head>
<body>
    <div class="card-container">
        <a href="homeUsuario.html" class="btnGuardar">Regresar</a>
        <div class="card3">
            <div class="rectangulo3">
                <div class="titulo5">Informacion</div>
                <div class="card-content">
                    <div class="services">
                        <h4>Monto a pagar</h4>
                        <h4></h4>
                        <h4>Fecha</h4>
                        <h4></h4>
                        <h4>Descripcion</h4>
                        <h4></h4>
                        <h4>Cuenta Origen</h4>
                        <h4></h4>
                        <h4>Cuenta Destino</h4>
                    </div>
                    <div class="buttons">
                        <input type="text" id="Monto"  class="cMonto">
                        <h4></h4>
                        <input type="text" id="Fecha" class="cMonto">
                        <h4></h4>
                        <input type="text" id="Descripcion" class="cMonto">
                        <h4></h4>
                        <input type="text" id="Origen"  class="cNoTarjeta">
                        <h4></h4>
                        <input type="text" id="Destino" class="cMonto">
                    </div>
                    <button type="button"  id="btnTransferir" class="btnGuardar" >Transferir</button> 
                    <div id="saldoActual" ></div>
                </div>
            </div>
        </div>        
    </div>
</body>
<script src="transferencia.js"></script>
</html>
 